.container {
  padding: 0 2rem;
}

.features__title {
  margin-top: 2rem;
}

.features {
  margin: 4rem 0;

  display: grid;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: black;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1 / 3;
    align-self: center;
  }

  &__text {
    font-size: 1.7rem;
  }
}
