.backdrop {
  position: fixed;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 400;
  background-color: rgba(black, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

.popup {
  background-color: red;
  width: 50%;
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  &__content {
    height: 100%;
    width: 70%;
    font-style: $font-open-sans;

    h2 {
      font-size: 4rem;
      font-weight: 300;
    }
    p {
      font-size: 2rem;
    }
  }
}
